<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RegistrationForm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnToDB</display-name>
    <servlet-name>ConnToDB</servlet-name>
    <servlet-class>com.infinite.databaseconn.ConnToDB</servlet-class>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>narennaren</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnToDB</servlet-name>
    <url-pattern>/ConnToDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFromDB</display-name>
    <servlet-name>DeleteFromDB</servlet-name>
    <servlet-class>com.infinite.databaseconn.DeleteFromDB</servlet-class>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>narennaren</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFromDB</servlet-name>
    <url-pattern>/DeleteFromDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDB</display-name>
    <servlet-name>UpdateDB</servlet-name>
    <servlet-class>com.infinite.databaseconn.UpdateDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDB</servlet-name>
    <url-pattern>/UpdateDB</url-pattern>
  </servlet-mapping>
</web-app>